article
{
    border: 1px solid black;
    margin: 10px;
    overflow: hidden;
}

p
{
    font-size: 1.25em;
}

img{
    margin: 10px;
}

article:nth-of-type(even) > p > img
{
    float: right;

}
article:nth-of-type(odd) > p > img
{
    float: left;

}