.vrij
{
    background-color: rgb(250,120,120);
}
.andereMaand
{
    background-color: grey !important;
}
tbody tr :first-child:not(a), tbody tr :last-child:not(a) {
    background-color: rgb(255, 220, 220);
}

thead th{
    background-color: rgb(170,170,200)
}

thead td{
    background-color:rgb(35,37,70);
    color:rgb(200,190,240);
}