body
{
    width:1200px;
    margin:auto;
}

nav
{
    background-color: rgb(77,77,77);
    padding: 5px;
    font-size:15px
}
nav a
{
    color:lightgreen;
    text-decoration: none;
}

body section header:not(article header)
{
    font-size:30px;
    color:white;
    font-family: Verdana;
    background-image: url("../img/header.jpg");
    padding-bottom:20px;
}

article header
{
    text-decoration: underline;
    font-size: 25px;
    font-family:Verdana;
    color: rgb(77,77,77)
}

article
{
    background-color: #EBEBEB;
    border:2px solid white;
}

body section footer:not(article footer)
{
    margin-bottom:20px;
}